DirectoryIndex index.html index.htm
Options -Indexes +FollowSymLinks

<IfModule mod_authz_core.c>
	Require all granted
</IfModule>

<IfModule mod_authz_host.c>
	Order allow,deny
	Allow from all
</IfModule>

<IfModule mod_mime.c>
	AddType image/svg+xml .svg
	AddType application/manifest+json .webmanifest
	AddType image/x-icon .ico
</IfModule>
